/* Estilos para o formulário de login */
.meu-login-wordpress__form {
    background-color: transparent;
    border-radius: 5px;
    padding: 20px;
}

.meu-login-wordpress__form label {
    display: block;
    margin-bottom: 5px;
}

.meu-login-wordpress__form input[type="text"],
.meu-login-wordpress__form input[type="password"] {
    border: 1px solid #0F71F2;
    border-radius: 100px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

.meu-login-wordpress__form input[type="submit"] {
    background-color: #0F71F2;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
}

/* Estilos para os links */
.useful-form-links {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.lost-password-link,
.register-link {
    margin-top: 10px;
}

.logged-user-message {
    text-align: center;
}

.logged-user-message .logged-user-name {
    font-weight: bold;
}
.logged-user-message .btn-leave i,
.logged-user-message .btn-leave svg {
    margin-right: 5px;
}